#skillset>div {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
}

#skillset img {
  border-radius: 1rem;
  max-width: calc(66.67% - 1rem); /* Dos tercios del ancho total, menos el espacio entre las imágenes */
  max-height: 100px; /* Tamaño máximo de altura ajustado a 100px (puedes cambiar este valor) */
  height: auto;
  width: auto;
  cursor: pointer;
}

.tooltip {
  width: 120px;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 2;
  transform: translate(0, -100%);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

#skillset div:hover > .tooltip {
  opacity: 1;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}

@media (max-width: 768px) {
  #skillset>div {
      grid-template-columns: repeat(2, 1fr);
  }
}